@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #1E1F1E;
    --cor2: #393839;
    --cor3: #a4a6a6;
    --cor4: #BCBDBD;
    --cor5: #C7B542;
    --cor6: #3c5d5d;
    --cor7: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1020px;
    min-height: 1000px;
    background: var(--cor7);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .lado-esq {
    position: relative;
    background: var(--cor1);
    padding: 40px;
    min-width: 350px;
}

.textoPerfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.textoPerfil .fotoPerfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.textoPerfil .fotoPerfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoPerfil h2 {
    color: var(--cor7);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.textoPerfil h2 span {
    color:var(--cor7);
    font-size: 0.6em;
    font-weight: 300;
}

.infoContato {
    padding-top: 40px;
}

.titulo {
    color: var(--cor7);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.infoContato ul {
    position: relative; 
}

.infoContato ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.infoContato ul li .icone {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--cor5);
}

.infoContato ul li span {
    color: var(--cor7);
    font-weight: 300;
    font-size: 0.8em;
    line-height: 10px;
    align-items: center;
}

.infoContato.formacao li {
    margin-bottom: 20px;
}

.infoContato.formacao h5 {
    color: var(--cor5);
    font-weight: 500;
}

.infoContato.formacao h4:nth-child(2) {
    color: var(--cor7);
    font-weight: 500;
}

.infoContato.formacao h4 {
    color: var(--cor7);
    font-weight: 300;
    font-size: 0.8em;
}

.infoContato.idiomas .texto {
    color: var(--cor7);
}

.infoContato.idiomas .pecasCheias {
    position: relative;
    margin-top: 5px;
    color: var(--cor5);
}

.infoContato.idiomas .pecasVazias {
    position: relative;
    margin-top: 5px;
    color: var(--cor2);
}

.interesses ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.interesses ul li {
    list-style: none;
    color: var(--cor7);
    font-weight: 500;
    font-size: 0.8em;
}


.container .lado-dir {
    position: relative;
    background: var(--cor7);
    padding: 40px;
}

.sobre {
    margin-bottom: 50px;
}

.sobre:last-child {
    margin-bottom: 0;
}

.titulo2 {
    color: var(--cor6);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.sobre .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre .box .ano_exp {
    min-width: 200px;
}

.sobre .box .ano_exp h5 {
    text-transform: uppercase;
    color: var(--cor1);
    font-weight: 600;
}

.sobre .box .texto h4 {
    text-transform: uppercase;
    color: var(--cor5);
    font-size: 16px;
    padding-bottom: 5px;
}

.sobre p {
    font-size: 14px;
    text-align: justify;
    text-indent: 18px;
    line-height: 22px;
    color: var(--cor1);
}

.sobre .texto p {
    font-size: 12px;
    text-align: justify;
    text-indent: 0px;
    line-height: 18px;
    color: var(--cor3);
}

.habilidades .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
}

.habilidades .box h4 {
    text-transform: uppercase;
    color: var(--cor1);
    font-weight: 500;
    padding-bottom: 5px;
}

.habilidades .box .porcentagem {
    position: relative;
}

.habilidades .box .pecasCheias {
    position: relative;
    margin-top: 5px;
    color: var(--cor5);
}

.habilidades .box .pecasVazias {
    position: relative;
    margin-top: 5px;
    color: var(--cor3);
}

@media (max-width: 940px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .sobre .box {
        display: inherit;
        margin: 20px 0;
    }
    
    .sobre .box .ano_exp {
        min-width: 200px;
    }

    .habilidades .box {
        position: relative;
        width: 100%;
        display: inherit;
        justify-content: center;
        align-items: center;
    }

}